
*{
  margin: 0px;
  padding: 0px;
  color: black;
}

a{
  font-style: none;
  text-decoration: none;
  padding: 1em;
}

a:hover{
  opacity: 0.5;
  cursor: pointer;
}

input:hover{
  cursor: pointer;
}

.nav, .nav-fixed{
  overflow: hidden;
  width: 100%;
  padding: 1em;
}

.nav-item, .nav-menu{
  display: inline;
  cursor: pointer;
  padding-left: 1em;
  padding-right: 1em;
}

.nav-menu{
  display: none;
}

.nav-fixed{
  position: fixed;
  top: 0;
}

.nav-center{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-right{
  text-align: right;
}

.nav-left{
  text-align: left;
}

@media (max-width: 800px) {
  .nav-menu{
    display: inline;
    list-style: none;
  }
  .nav-item{
    display: none;
  }
}

.row{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-gap: 0px;
  padding: 1em;
  text-align: justify;
  text-justify: inter-word;
}

.row-center{
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col{
  width: 100%;
}
.col-1{
  -ms-flex: 0 0 10%;
  flex: 0 0 10%; /*flex-grow flex-shrink flex-basis*/
  max-width: 10%;
}
.col-2{
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
.col-3{
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}
.col-4{
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}
.col-5{
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-6{
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}
.col-7{
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
}
.col-8{
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
}
.col-9{
  -ms-flex: 0 0 90%;
  flex: 0 0 90%;
  max-width: 90%;
}
.col-10{
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (max-width: 600px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
  .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.first{
  padding-top: 5em;
}

.last{
  padding-bottom: 5em;
}

.footer{
  justify-content: center;
  align-items: center;
  text-align:center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.footer-item{
  display: inline;
  width: 2em;
  padding: 1em;
}

.authentication{
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  top: 30%;
  width: 30em;
  border: 1em solid white;
  border-radius: 1em;
  background: white;
  padding: 1em;
}

.authentication-item{
  text-align: center;
  width: 20em;
}

.authentication-item:hover{
  transition: all 0.1s linear;
  opacity: 0.5;
}

.menu-lateral{
  overflow: hidden;
  position: fixed;
  transition: all .2s linear;
  height: 100%;
  width: 15em;
  left: -20em;
  padding-top: 8em;
  background-size: cover;
  background: gray;
}

.menu-lateral-item{
  display: block;
  overflow: hidden;
  padding-top: 0em;
  width: 100%;
}

.dropdown {
  overflow: hidden;
  float: left;
}

.dropdown:hover{
  background: blue;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    cursor: pointer;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: blue;
}

#check-icon{
  display: none;
}

#icon-menu-lateral img{
  overflow: hidden;
  position: fixed;
  padding: 0.5em;
  cursor: pointer;
  width: 2.5em;
  z-index: 1;
}

#check-icon:checked ~ .menu-lateral{
  transform: translateX(20em);
}
