#addwriter{
  background: black;
}

#addwriter a{
  color: white;
}

.first{
  padding-top: 4.5em;
}

.last{
  padding-bottom: 4.5em;
}

@media (max-width: 768px) {
  #addwriter{
    display: none;
  }
  .footer{
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar{
    padding-right:2em;
  }
}
