*{
  padding: 0;
  margin: 0;
  border: 0;
}

.navbar{
  padding-right:2em;
}

#addwriter{
  background: black;
}

#addwriter a{
  color: white;
}

#submitbutton{
  color: black;
  padding: 1em;
}

#submitbutton:hover{
  background: #ccd5e5;
  padding: 1em;
}

.first{
  padding-top: 1.5em;
}

.last{
  padding-bottom: 4.5em;
}

.writer {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  width: 80%;
  height: 80%;
}

.writerarea textarea{
  max-width: 100%;
  width: 100%;
  resize: none;
  padding: 1em;
  border: 1em solid #f2f2f2;
  text-align: justify;
}

.writechoice select,
.writechoice div{
  display: inline-block;
  vertical-align: top;
}

.writechoice select,
.writechoice div > input{
  background: #f2f2f2f2;
  padding: 0.5em;
}

.writechoice div{
  float: right;
}

.reader {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  width: 80%;
  height: 70%;
}

.readerarea textarea{
  max-width: 100%;
  width: 100%;
  resize: none;
  border: 1em solid #f2f2f2;
  padding: 1em;
}

.readertyper{
  background: #f2f2f2;
  border: none;
  color: black;
  padding: 0.5em;
}

.readertyper:hover{
  background: #f2f2f9;
}

.readerarea{
  text-align: center;
  padding: 0.5em;
}

.authentication{
  position: absolute;
  top: 15%;
  left: 20%;
  right: 20%;
  width: 60%;
  border: 1em solid #f2f2f2;
  border-radius: 1em;
  background: #f2f2f2;
  padding: 2em;
}

.authentication-item{
  text-align: center;
  width: 80%;
}

.authentication-item:hover{
  transition: all 0.1s linear;
  opacity: 0.5;
}

.showhistory{
  border-collapse: collapse;
}

.datashow-choices{
  background: #f2f2f2;
  width: 100%;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-gap: 0px;
  padding: 1em;
  text-align: justify;
  text-justify: inter-word;
  border: 2px solid black;
}

.datashow-data td div{
  background: #e6e6e6;
  padding: 1em;
  height: 150px;
  max-height: 150px;
  overflow-y: scroll;
  vertical-align: middle;
  border: 2px solid black;
  border-top: none;
}

.datashow-item{
  -ms-flex: 0 0 20%;
  flex: 0 0 20%; /*flex-grow flex-shrink flex-basis*/
  max-width: 20%;
}

.datashow-content{
  border-top: 15px solid transparent;
}

@media (max-width: 768px) {
  #addwriter{
    display: none;
  }
  .datashow-item{
    -ms-flex: 0 0 30%;
    flex: 0 0 30%; /*flex-grow flex-shrink flex-basis*/
    max-width: 30%;
  }
  .writechoice select{
    width: 49%;
  }
  .writechoice div{
    float: left;
    width: 99%;
  }
  .writechoice div > label,
  .writechoice div > input{
    width: 100%;
  }
  .writerarea textarea{
    width: 99%;
  }
}

@media (min-width: 768px) {
    .writechoice div{
      padding-left: 4em;
    }
    .writechoice div{
      float: right;
    }
}

/*Sobreposições bootstrap*/
.dropdown a{
  text-decoration: none;
}

@media (min-width: 768px) {
}
