#addwriter{
  background: black;
}

#addwriter a{
  color: white;
}

.first{
  padding-top: 4.5em;
}

.last{
  padding-bottom: 4.5em;
}

.writer {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  width: 80%;
  height: 70%;
}

@media (max-width: 768px) {
  #addwriter{
    display: none;
  }
}

/*Sobreposições bootstrap*/
.dropdown a{
  text-decoration: none;
  color: black;
}



@media (min-width: 768px) {
  .navbar{
    padding-right:2em;
  }
}
