<div class="navbar-default navbar-fixed-bottom bg-secondary">
<div class="container">
    <div class="row">
      <ul class="list-inline text-center">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Data</a></li>
            <li><a href="#">Config</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Adulto</a></li>
            <li><a href="#">Romance</a></li>
            <li><a href="#">Terror</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Adulto</a></li>
            <li><a href="#">Romance</a></li>
            <li><a href="#">Terror</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Follow<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="">
              <a type="button" class="btn-floating btn-fb">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="">
              <a type="button" class="btn-floating btn-fb">
                <i class="fa fa-twitter-square"></i>
              </a>
            </li>
            <li class="">
              <a type="button" class="btn-floating btn-fb">
                <i class="fa fa-google-plus-circle"></i>
              </a>
            </li>
            <li class="">
              <a type="button" class="btn-floating btn-fb">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
</div>
</div>
