<footer class="footer navbar-default navbar-fixed-bottom">
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4>Footer Content</h4>
      <p>Content</p>
    </div>
    <div class="col-md-3">
      <h4>About</h4>
      <ul class="list-unstyled">
        <li class=""><a></a></li>
        <li class=""><a></a></li>
        <li class=""><a></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h4>Contact</h4>
      <ul class="list-unstyled">
        <li class=""><a></a></li>
        <li class=""><a></a></li>
        <li class=""><a></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h4>Follow</h4>
      <ul class="list-unstyled">
        <li class="">
          <a type="button" class="btn-floating btn-fb">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="">
          <a type="button" class="btn-floating btn-fb">
            <i class="fa fa-twitter-square"></i>
          </a>
        </li>
        <li class="">
          <a type="button" class="btn-floating btn-fb">
            <i class="fa fa-google-plus-circle"></i>
          </a>
        </li>
        <li class="">
          <a type="button" class="btn-floating btn-fb">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</footer>
