<footer class="navbar-default navbar-fixed-bottom">
  <div class="row">
    <div class="col-md-3">
      <h5>Footer Content</h5>
      <ul class="list-unstyled">
        <li class=""><a></a></li>
        <li class=""><i></i></li>
        <li class=""><i></i></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>About</h5>
      <ul class="list-unstyled">
        <li class=""><i></i></li>
        <li class=""><i></i></li>
        <li class=""><i></i></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Contact</h5>
      <ul class="list-unstyled">
        <li class=""><i></i></li>
        <li class=""><i></i></li>
        <li class=""><i></i></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Follow</h5>
      <ul class="list-unstyled">
        <li class=""><i></i></li>
        <li class=""><i></i></li>
        <li class=""><i></i></li>
      </ul>
    </div>
  </div>
</footer>
