<!DOCTYPE html>

<html>
  <head lang="br">
    <meta charset="utf-8" />
    <meta name="viewport" content="device-width, initial-scale = 1" />
    <title>Read History</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleR.css' %}"/>
    <script type="text/javascript "src="{% static 'javascript/sketch1.js' %}"></script>
  </head>

  <body>
    <input type="checkbox" id="check-icon"/>
    <label id="icon-menu-lateral" for="check-icon"><img src="{% static 'images/img.png' %}"/></label>
    <div class="menu-lateral">
      <a class="menu-lateral-item">HOME</a>
      <a class="menu-lateral-item">FAVORITOS</a>
      <a class="menu-lateral-item">TOP ESCRITORES</a>
      <a class="menu-lateral-item">TOP HISTÓRIAS</a>
      <a class="menu-lateral-item">MINHAS HISTÓRIAS</a>
    </div>

    <div class="nav nav-center">
      <a class="nav-menu" href="">MENU</a>
      <div>
        <div class="dropdown nav-item">
          <div class="dropbtn">CATEGORIA</div>
          <div class="dropdown-content">
            <a href="#">ADULTO</a>
            <a href="#">ROMANCE</a>
            <a href="#">COMEDIA</a>
          </div>
        </div>
      </div>
      <div class="nav-item">
        <div class="dropdown">
          <div class="dropbtn">ATORES</div>
          <div class="dropdown-content">
            <a href="#">AUT 1</a>
            <a href="#">AUT 2</a>
            <a href="#">AUT 3</a>
          </div>
        </div>
      </div>
    </div>

    {% block content%}
    {% endblock%}

    {% include "readhistory/footer.html" %}
  </body>

</html>
