<!DOCTYPE html>

<html>
  <head lang="br">
    <meta charset="utf-8" />
    <meta name="viewport" content="device-width, initial-scale = 1" />
    <title>Read History</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleR.css' %}"/>
    <script type="text/javascript "src="{% static 'javascript/sketch1.js' %}"></script>
  </head>

  <body>
    <input type="checkbox" id="check-icon"/>
    <label id="icon-menu-lateral" for="check-icon"><img src="{% static 'images/img.png' %}"/></label>
    <div class="menu-lateral">
      <a class="menu-lateral-item">HOME</a>
      <a class="menu-lateral-item">FAVORITOS</a>
      <a class="menu-lateral-item">TOP ESCRITORES</a>
      <a class="menu-lateral-item">TOP HISTÓRIAS</a>
      <a class="menu-lateral-item">MINHAS HISTÓRIAS</a>
    </div>

    <div class="nav nav-fixed nav-center">
      <input type="checkbox" id="dropdown-menu" class="nav-menu"/>
      <label class="nav-menu" for="dropdown-menu">MENU</label>
      <a class="nav-item">CATEGORIA</a>
      <a class="nav-item">MEUS ESCRITORES</a>
      <form class="nav-item">
        <input type="search" name="search" placeholder="buscar"/>
        <input type="submit" method="post" id="search-submit" value="BUSCAR"/>
      </form>
    </div>

    {% block content%}
    {% endblock%}

    {% include "readhistory/footer.html" %}
  </body>

</html>
