{% extends "readhistory/head.html" %}

{% block content %}
<div class="container first">
  <div class="row text-justify">
      <table class="showhistory">
        <caption class="datashow-title">Publicações recentes</caption>
        <!-- colocar o laço de repeticao aqui -->
        <div class="space">
          <thead class="datashow-choices">
            <th class="datashow-head">
              <ul class="">
                <li class="datashow-item">
                  Title
                </li>
                <li class="datashow-item">
                  Autor
                </li>
                <li class="datashow-item">
                  Category
                </li>
                <li class="datashow-item">
                  Veracity
                </li>
                <li class="datashow-item">
                  Where
                </li>
              </ul>
            </th>
          </thead>
          <tbody class="datashow-data">
            <tr>
              <td>
                djsn djsadjsn djsadjsn djsadjsn djsadjsn djsadjsn djsadjsn djsadjsn djsadjsn djsa
              </td>
            </tr>
          </tbody>
        </div>
      </table>
  </div>
</div>

{% endblock %}
