div{% extends "readhistory/head.html" %}

{% block content %}


<div class="reader">
  <form class="row first readerarea" action="">
    <output class="col-sm-3 readertyper" value="Title" name="titleread">Title</output>
    <output class="col-sm-3 readertyper" value="Caregory" name="catread">Caregory</output>
    <output class="col-sm-3 readertyper" value="Veracity" name="verread">Veracity</output>
    <output class="col-sm-3 readertyper" value="Where" name="whereread"/>Where</output>
  </form>
  <form class="row last readerarea" name="text" method="post" action="">
    <textarea name="readcontent" rows="15" wrap="hard">
    </textarea>
  </form>
</div>

{% endblock %}
