{% extends "readhistory/head.html" %}

{% block content %}

<div class="container writer">
  <form class="row first writerarea" action="" id="textareaform">
    <select class="col-sm-2" name="categorywrite" form="textareaform">
      <option selected disabled>Category</option>
      <option value="volvo">Humor</option>
      <option value="saab">Romance</option>
      <option value="opel">Adult</option>
      <option value="audi">Terror</option>
    </select>
    <select class="col-sm-2" name="verwrite" form="textareaform">
      <option selected disabled>Veracity</option>
      <option value="volvo">True</option>
      <option value="saab">Not True</option>
      <option value="opel">Fanfic</option>
      <option value="audi">Desire</option>
    </select>
    <label class="col-sm-2" for="wherewrite">Where?</label>
    <input class="col-sm-2" name="wherewrite" type="text" placeholder="Texas"/>
    <label class="col-sm-2" for="wherewrite">Title</label>
    <input class="col-sm-2" name="titlewrite" type="text" placeholder="Texas" maxlength="25"/>
  </form>
  <div class="row last">
      <form class="writerarea" name="text" method="post" action="">
        <textarea name="writecontent" rows="15" wrap="hard">
        </textarea>
      </form>
  </div>
  <input id="" for="textareaform" type="submit" value="submit">
</div>

{% endblock %}
