{% extends "readhistory/head.html" %}

{% block content %}

<div class="container writer">
    <form class="row first writerarea" action="" id="textareaform">
      <input type="submit" value="Enviar">
      <select name="categorywrite" form="textareaform">
        <option selected disabled>Category</option>
        <option value="volvo">Humor</option>
        <option value="saab">Romance</option>
        <option value="opel">Adult</option>
        <option value="audi">Terror</option>
      </select>
      <select name="verwrite" form="textareaform">
        <option selected disabled>Veracity</option>
        <option value="volvo">True</option>
        <option value="saab">Not True</option>
        <option value="opel">Fanfic</option>
        <option value="audi">Desire</option>
      </select>
      <label for="wherewrite">Where?</label>
      <input name="wherewrite" type="text" placeholder="Texas"/>
      <label for="wherewrite">Title</label>
      <input name="titlewrite" type="text" placeholder="Texas" maxlength="25"/>
  </form>
  <div class="row last">
      <form class="writerarea" name="text" method="post" action="">
        <textarea name="writecontent" rows="15" wrap="hard">
        </textarea>
      </form>
  </div>
</div>

{% endblock %}
